/ {
    zephyr,user {
        io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>;
    };
};

&uart20 {
    current-speed = <1000000>;
};

&uart21 {
    current-speed = <1000000>;
};

/* 禁用板载 PDM 麦克风，释放 P1.12 */
&pdm20 {
    status = "disabled";
};

/* 释放 P1.15 */
&vbat_pwr {
    status = "disabled";
};

&spi00 {
    status = "disabled";
};


&i2c22 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    mlx90393: mlx90393@c {
        compatible = "i2c-device";
        reg = <0x0c>;
    };
    bno085: bno085@4b {
        compatible = "bno08x";
        reg = <0x4b>;
        intn-gpios = <&gpio1 14 (GPIO_ACTIVE_LOW)>;
        nrst-gpios = <&gpio2 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
    ads122c04: ads122c04@40 {
        compatible = "ads122c04";
        reg = <0x40>;
        drdy-gpios = <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

&i2c30 {
	status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
};