/**
 * =================================================================================
 * PINS                  MY BOARD                      XIAO NRF54L15 SENSE
 * =================================================================================
 * P0.00:                free                          USR_KEY
 * P0.01:                ads1220a/pcap01 drdy          IMU_3V3_EN
 * P0.02:                icm42688 drdy                 IMU_INT
 * P0.03:                                i2c30 SDL
 * P0.04:                                i2c30 SDA
 * =================================================================================
 * P1.00 & P1.01:                        32.768KHZ crystal
 * P1.02:                ads1220b cs                   NFC
 * P1.03:                ads1220b drdy                 NFC
 * P1.04 - P1.07:                        CH0/AIN0 - CH3/AIN3
 * P1.08:                free                          UART20
 * P1.09:                free                          UART20
 * P1.10:                                i2c22 SDA
 * P1.11:                                i2c22 SDL
 * P1.12:                icm42688 spi cs               mic clk
 * P1.13:                ads122c04 inin                mic data
 * P1.14:                bno085 intn                   AIN7_BAT
 * P1.15:                free                          VBAT_EN
 * =================================================================================
 * P2.00:                                 USR_LED
 * P2.01:                                 spi00 sck
 * P2.02:                                 spi00 mosi
 * P2.03:                free                          rf_sw_pwr
 * P2.04:                                 spi00 miso
 * P2.05:                free                          rf_sw_ctl
 * P2.06:                stm32_slave spi cs            free (D15)
 * P2.07:                                 UART21
 * P2.08:                                 UART21
 * P2.09:                bno085 nrst                   free (D13)
 * P2.10:                ads1220a/pcap01 spi cs        free (D13)
 * =================================================================================
 */

/ {
    zephyr,user {
        io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>;
    };
};

&uart20 {
    current-speed = <1000000>;
};

&uart21 {
    current-speed = <1000000>;
};

/* 禁用板载 PDM 麦克风，释放 P1.12 */
&pdm20 {
    status = "disabled";
};
/* 释放 P1.15 */
&vbat_pwr {
    status = "disabled";
};
/* 释放 P0.01 */
&pdm_imu_pwr {
    status = "disabled";
};
/* 释放 P1.02, P1.03 */
&nfct {
    status = "disabled";
};
&uicr {
    nfct-pins-as-gpios;
};
/* 释放 P0.00 */
&usr_btn {
    status = "disabled";
};
/* 释放P1.08, P1.09 */
/ {
    chosen {
        /delete-property/ zephyr,console;
        /delete-property/ zephyr,shell-uart;
        /delete-property/ nordic,rpc-uart;
    };
};
&uart20 {
    status = "disabled";
};

&i2c22 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
    mlx90393: mlx90393@c {
        compatible = "i2c-device";
        reg = <0x0c>;
    };
    bno085: bno085@4b {
        compatible = "bno08x";
        reg = <0x4b>;
        intn-gpios = <&gpio1 14 (GPIO_ACTIVE_LOW)>;
        nrst-gpios = <&gpio2 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
    ads122c04: ads122c04@40 {
        compatible = "ads122c04";
        reg = <0x40>;
        drdy-gpios = <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

&i2c30 {
	status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
    lsm6dso: lsm6dso@6a {
        status = "disabled";
    };
};
&i2c30_default {
    group1 {
        psels = <NRF_PSEL(TWIM_SDA, 0, 4)>, <NRF_PSEL(TWIM_SCL, 0, 3)>;
    };
};

&xiao_spi {
	status = "okay";
    compatible = "nordic,nrf-spim";
    cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>, <&gpio2 6 GPIO_ACTIVE_LOW>, <&gpio2 10 GPIO_ACTIVE_LOW>, <&gpio1 2 GPIO_ACTIVE_LOW>;
    icm42688: icm42688@0 {
        status = "disabled";
        compatible = "invensense,icm42688";
        reg = <0>;
        spi-max-frequency = <16000000>;
        int-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
    };
    stm32_slave: stm32_slave@1 {
        status = "okay";
        compatible = "stm32-slave";
        reg = <1>;
        spi-max-frequency = <8000000>;
    };
    ads1220a: ads1220a@2 {
        status = "okay";
        compatible = "ads1220";
        reg = <2>;
        spi-max-frequency = <6400000>;
        drdy-gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
    };
    ads1220b: ads1220b@3 {
        status = "okay";
        compatible = "ads1220";
        reg = <3>;
        spi-max-frequency = <6400000>;
        drdy-gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
    };
};
